
/* 
myComponent.style.setProperty('--primary', 'green');
var cs = getComputedStyle(myComponent);
cs.getPropertyValue('--primary');
*/
:root {
  --back-01: #646469;
  --back-02-header: #8b8f94;
  --back-03-rendu: #2a2f2e;
  --back-04-crop: #111;
  --front-01-icons: #48dcc9;
  --front-02-icons: #fff;
  --icon-selected: #0F4519;
  --raleway: "Raleway", "Helvetica Neue", Arial, sans-serif;
}

.manip-wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  border: thin solid currentColor;
  background-color: var( --front-02-icons);
  transition: all 0.3s;
}
.manip-wrapper.drop-actif{
  background-image: none;
  /* background-color: var( --back-03-rendu); */
  background-color: royalblue;
  /* opacity: 0.5; */
}

/* LAYERS */
.layer-base{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.layer-info{
  margin: 2rem;
  background: var(--front-01-icons);
  color: black;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}


.layer-info h2 {
  text-transform: uppercase;
  font-size: 1.6rem;
  margin: 4rem 0 0;
}

.layer-info h1 {
  font-size: 1.4rem;
  margin: 0 0 1rem;
}

.layer-info p {
  position: relative;
  margin: 0;
}

.layer-info p.em{
  /* font-variant: normal; */
  font-style: normal;
  text-transform: uppercase;
  /* font-weight: bold; */
  margin-top: 1rem;
}
.layer-info p.last{
  margin-top: 2rem;
}

.layer-info p svg {
  position: relative;
  display: inline-block;
  top: 10px;
}

.inputsWrapper{
  user-select: none;
  opacity: 0.01;
}
.layer-fond{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--back-04-crop);
}

.layer-crop-outer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.layer-crop-inner{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.layer-crop-img,
.layer-fond-img{
  flex-grow: 0;
  flex-shrink: 0;
  animation: fadeIn 0.5s;
}

.layer-crop-inner{
  border: 1px solid white;
}
.layer-fond-img{
  opacity: 0.5;
}

.img-wrap{
  position: relative;
  width: auto;
}

.icon-reticule{
  width: 3rem;
  height: 3rem;
}

.input-scale{
  position: absolute;
  bottom:0;
  left: 0;
  height: 5%;
  width:100%;
  overflow: hidden;
  user-select: none;
}

.input-scale:hover .input-scale-inner{
  transform: translateY(0);
}

.input-scale-inner{
  padding: 0 20% ;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.3);
  transform: translateY(100%);
  transition: transform 0.3s;
}

.input-scale-inner .input-scale-range{
  position: absolute;
  left: 10%;
  top: 50%;
  width: 80%;
}

.input-rotate{
  position: absolute;
  top:0;
  right: 0;
  height: 100%;
  width:5%;
  overflow: hidden;
  user-select: none; 
}

.input-rotate:hover .input-rotate-inner{
  transform: translateX(0);
}

.input-rotate-inner{
  padding: 20% 0 ;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.3);
  transform: translateX(100%);
  transition: transform 0.3s;
}

.input-rotate-inner .input-scale-range{
  position: absolute;
  top: 10%;
  left: 50%;
  transform-origin: left;
  transform: rotate(90deg);
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*//  UI  //////////////////////*/

.manip-reglages-icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.label-reglage {
  position: relative;
  margin-right:1rem;
  z-index: 0;
  user-select: none;
}

.label-reglage:last-child{
  margin-right: 0;
}

.input-hidden:disabled + label{
  color: var(--back-03-rendu);
}

.label-reglage:hover{
    color:var(--front-02-icons);
}

.label-reglage svg{
  margin: 0 auto;
  display: block;
  /* outline: red 1px solid; */
}

.label-reglage:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -13px;
  left: -13px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  opacity: 0.3;

  background-color: white;
  transform: scale(0);
  transition: all 0.3s;
}

.label-reglage:active:before {
  /* outline: cyan 1px solid; */
  opacity: 0;
  background-color: greenyellow;
  transform: scale(1.4);

}

.input-hidden{
  display: none;
}

.label-on{
  color: white;
}

.label-on svg{
  border-radius: 50%;
  background-color: var( --icon-selected);
  box-shadow: 0 0  0 5px var( --icon-selected);
}
.reglage-separator{
  flex:1;
}

/*////////////////////////*/


.plot{
  position: absolute;
  transform: translate(-50%,-50%);
  color: red;
  font-size: 24px;
  pointer-events: none;
}
.pointers-infos{
  height: 4rem;

}
/* /////////////////////////////////// */

.paves{
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC');
	
}