
/* 
myComponent.style.setProperty('--primary', 'green');
var cs = getComputedStyle(myComponent);
cs.getPropertyValue('--primary');
*/
:root {
  --back-01: #646469;
  --back-02-header: #8b8f94;
  --back-03-rendu: #2a2f2e;
  --back-04-crop: #111;
  --front-01-icons: #48dcc9;
  --front-02-icons: #fff;
  --raleway: "Raleway", "Helvetica Neue", Arial, sans-serif;
}

.manip-wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  border: thin solid currentColor;
  background-color: var( --back-03-rendu);
}


/* LAYERS */
.layer-base{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.inputsWrapper{
  user-select: none;
  opacity: 0.01;
}
.layer-fond{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--back-04-crop);
}

.layer-crop-outer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.layer-crop-inner{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.layer-crop-img,
.layer-fond-img{
  flex-grow: 0;
  flex-shrink: 0;
  animation: fadeIn 0.5s;
}

.layer-crop-inner{
  border: 1px solid white;
}
.layer-fond-img{
  opacity: 0.5;
}
.layer-crop-img{
  opacity: 0.7;
}

.img-wrap{
  position: relative;
  width: auto;
}

.icon-reticule{
  width: 3rem;
  height: 3rem;
}

.input-scale{
  position: absolute;
  bottom:0;
  left: 0;
  height: 5%;
  width:100%;
  overflow: hidden;
}

.input-scale:hover .input-scale-inner{
  transform: translateY(0);
}

.input-scale-inner{
  padding: 0 20% ;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.3);
  transform: translateY(100%);
  transition: transform 0.3s;
}

.input-scale-inner .input-scale-range{
  position: absolute;
  left: 10%;
  top: 50%;
  width: 80%;
}

.input-rotate{
  position: absolute;
  top:0;
  right: 0;
  height: 100%;
  width:5%;
  overflow: hidden;
}

.input-rotate:hover .input-rotate-inner{
  transform: translateX(0);
}

.input-rotate-inner{
  padding: 20% 0 ;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.3);
  transform: translateX(100%);
  transition: transform 0.3s;
}

.input-rotate-inner .input-scale-range{
  position: absolute;
  top: 10%;
  left: 50%;
  transform-origin: left;
  transform: rotate(90deg);
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*//  UI  //////////////////////*/

.manip-reglages-icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.label-reglage {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  margin-right:1rem;
  transition: color 0.3s;
  z-index: 0;
  user-select: none;
}

.label-reglage:last-child{
  margin-right: 0;
}


.label-reglage:hover{
    color:var(--front-02-icons);
}

.label-reglage:active:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -5%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: greenyellow;
  border-radius: 50%;
  opacity: 0.3;
  transform: scale(1.4);
}

.input-hidden{
  display: none;
}

.label-on{
  background-color: #0F4519;
  color: white;
}
    
.reglage-separator{
  flex:1;
}

/*////////////////////////*/


.plot{
  position: absolute;
  transform: translate(-50%,-50%);
  color: red;
  font-size: 24px;
  pointer-events: none;
}
.pointers-infos{
  height: 4rem;

}
/* /////////////////////////////////// */

.background{
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC');
	
}