.container {
		background-color:gray;
		width: 600px;
		height: 400px;
    -ms-touch-action: none;
    ms-touch-action: none;
	}
	.plateContainer{
		position: absolute;
		left: 0;
		top: 0;
    -ms-touch-action: none;
    ms-touch-action: none;
	}
	.plate{
		position: absolute;
		left: -200px;
		top: -200px;
	}
