
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family:  "Raleway", "Helvetica Neue", Arial, sans-serif;
}

@supports(--foo: bar) {
  body {
    background: green;
    font-family: var(--raleway);
  }
}
/* /////////////////////////////////// */
/* LAYOUT */

.container{
  box-sizing: content-box;
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-flow: column;
  background-color:  var(--back-01, #646469);
}

.crop-manager{
  margin: 0 4%;
  display: flex;
  /* flex-grow: 1;
  align-content: stretch; */
  height: 100%;
  flex-flow: row;
  flex-wrap:  nowrap;
  color: var(--front-01-icons);
  position: relative;
}

.element-wrapper{
  display: flex;
  flex-flow: column;
  position: relative;
  flex: 1;
  flex-shrink: 0;
  flex-grow: 1;
}


.element-rendu{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  /* flex-basis: 30%;
  flex-shrink: 1; */
  width: 30%;
  height: auto;
  margin: 1rem 0 2rem 2rem;
  padding: 2rem;
  background-color: var(--back-03-rendu);
  /* overflow: scroll;  */
}  


@media (max-width: 650px) {
  .crop-manager{
    flex-flow: column;
  }
  .element-rendu{
    position: relative;
    /* display: flex; */
    flex-flow: row;
    /* justify-content: space-between; */
    /* flex-basis: 1; */
    width: 100%;
    height: 20%;
    margin: 1rem 0;
    padding: 1rem;
  }
}

/* HEADER */
.App-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 10vh;
  width: 100%;
  height: 100px;
  margin-bottom: 1rem;
  padding: 2vh;
  background-color: var(--back-02-header);
}

.App-header-nav{
  display: flex;
  margin-left: 10%;
}

.App-header-nav a{
  margin-right: 2rem;
  color: white;
  font: var(--raleway);
  /* font-weight: bold; */
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  text-decoration: none;
  transition: color 0.3s;
}

.App-header-nav a:hover{
  color: var(--front-01-icons);
}

.App-logo{
  display: block;
  height: 100%;
  margin-left: 2rem;
}

@media (max-width: 650px) {
  .App-logo{
    margin-left: 1rem;
  }
  .App-header-nav a{
    margin-right: 1rem;
    font-size: 3vw;
    white-space: nowrap;
  }
}
/* SOURCES */
.element-sources{
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  height: 3rem;
}

.manip-conteneur{
  position: relative;
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.gestion-crop-size,
.gestion-crop{
  display: flex;
  flex-flow: row;
  flex-wrap:  nowrap;
  align-items: center;
}

.gestion-upload{
  text-align: center;
}

/* /////////////////////////////////// */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*//  UI  //////////////////////*/

.input-hidden{
  display: none;
}

.icon-small {
  width: 2rem;
  height: 2rem;
} 


.crop-label{
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem; 
  /* margin-right: 1rem; */
  color: currentColor;
  font-size: 10px;
  text-transform: uppercase;
}
.gestion-crop-size {
  margin-left: 1rem;
}

.label-px:after{
  content: 'px';
  padding-left: 0.5rem;
}
.crop-label-info{
  margin-right: 0.5rem;
}

@media (max-width: 650px) {
  .crop-label-info{
    display: none;
  }
}

@media (max-width: 900px) {
  .label-px:after{
    /* content: ''; */
    display: none;
  }
}

.crop-presets{
  color: currentColor;
  font-size: 1rem;
  height: 1.7rem;
  max-width: 6rem;
  width:100%;
  /* -webkit-appearance: none;
  -moz-appearance: none; */
}

.crop-presets:focus{
  outline: none;
  box-shadow: none;
}

.crop-size-permute{
  margin-left: 1rem;
}

.crop-size-input{
  color: var( --back-04-crop);
  text-align: right;
  font-size: 1rem;
  height: 1.7rem;
  width: 3.6rem;
  border-radius: 4px;
}

.crop-size-input:focus{
  color: black;
  border: thin solid currentColor;
  outline: none;
  box-shadow: none;
  background: #EEE;
}

.crop-size-input::-webkit-input-placeholder { 
    color: var(--front-01-icons);
}
.crop-size-input::-moz-placeholder { 
    color: var(--front-01-icons);
}
.crop-size-input:-ms-input-placeholder {
    color: var(--front-01-icons);
}

/* /////////////////////////////////// */

/*  RENDU */

.download-link{
  display: block;
  margin: 1rem auto;
  height: 2rem;
  width: 80%;
  background-color: var(--front-01-icons);
  color: var(--back-03-rendu);
  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 2rem;
}
.download-link:hover{
  background-color: green;
}

.demo-load{
  margin: 0 auto 1rem;
  border: none;
  border-radius: 4px;
  height: 1.6rem;
  width: 4rem;
  background-color: var(--front-01-icons);
  color: var(--back-03-rendu);
  text-align: center;
  line-height: 1.4rem;
}

.preview-image-crop{
  display: flex;
  flex-basis: 1;
  flex-grow: 1;
  flex-shrink: 1;
  /* width: 100%;
  height: 100%; */
  /* outline: 4px solid yellow; */
  /* position: relative; */
  /* outline: 4px solid yellow; */
}

.preview-image-crop-inner{
  background-color: darkgray;
  overflow: hidden; 
  
}
.preview-image-crop-img{
  
}

@media (max-width: 650px) {
  .preview-image-crop{
    order: 1;
    margin-right: 1rem;
    flex-grow: 1;
    /* outline: 4px solid yellow; */

  }
  .demo-load{
    position: absolute;
    right: 1rem;;
    order: 2;
    align-self: flex-start;
    margin: 0 0 0 auto;
  }

  .download-link{
    max-width: 30vw;
    order:3;
    align-self: flex-end;
    margin-bottom: 0;
  }
}