* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.label-reglage{
  /*margin: 0 auto;*/
  text-align: center;
  /*text-transform: uppercase;*/
}

.container{
  box-sizing: content-box;
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-flow: column;
  background-color: ghostwhite;
}

/*
.container{
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background-color: beige;
  width: 80%;
  padding-bottom: 56%;
}
*/

.crop-manager{
  margin: 0 4%;
  display: flex;
  height: 100%;
  flex-flow: row;
  flex-wrap:  nowrap;
  color: cadetblue;
}
.gestion-crop-size,
.gestion-crop{
  display: flex;
  flex-flow: row;
  flex-wrap:  nowrap;
  align-items: center;
}

.gestion-upload{
  text-align: center;
}

.element-sources{
  display: flex;
  flex-flow: row;
  flex-wrap:  nowrap;
  align-items: flex-start;
  justify-content: space-between;
      color: cadetblue;
}

.element-rendu{
  flex-basis: 30%;
  /*min-width: 30%;*/
  padding: 2rem;
  /*border: thin solid blueviolet;*/
  background-color: antiquewhite;
  overflow: hidden;
}

.element-wrapper{
      display: flex;
    flex-flow: column;
  position: relative;
  flex: 1;
  flex-shrink: 0;
  flex-grow: 1;
  /*width: 100%;*/
  /*height: 350px;*/
  /*padding-bottom: 70%;*/
}
.manip-conteneur{
  position: relative;
  /*min-height: 100%;
  height:100%;*/
  flex-grow: 1;
  width: 100%;
  /*position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;*/
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.manip-wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  border: thin solid mediumaquamarine;
  background-color: azure;
}

.manip-edit-conteneur{
  background-color: aqua;
}

.manip-reglages-icons{
  margin-bottom: 1rem;
}
/* LAYERS */

.layer-crop,
.layer-fond,
.inputsWrapper{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.inputsWrapper{
  user-select: none;
  /*background-color: violet;*/
  opacity: 0.01;
}

.layer-crop-outer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /*outline: 4px inset red;*/
}

.layer-crop-inner,
.layer-fond{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.layer-crop-img,
.layer-fond-img{
  flex-grow: 0;
  flex-shrink: 0;
  animation: fadeIn 0.5s;
}

.layer-fond{
  background-color:black;
}
.layer-crop-inner{
  border: 1px solid white;
}
.layer-fond-img{
  opacity: 0.5;
}
.layer-crop-img{
  opacity: 0.7;
  /*outline: 4px inset yellow;*/
}

.img-wrap{
  position: relative;
  width: auto;
  /*outline: 4px cyan solid;*/
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*//  UI  //////////////////////*/

.manip-reglages-icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  /*border: thin solid cyan;*/
}

.label-reglage {
  margin: 0.5rem;
  transition: color 0.3s;
}

.label-reglage:hover{
    color: darkgreen;
}
.label-reglage:active svg {
  background-color: greenyellow;
  /*outline: 6px solid;*/
}
.icon-small {
  width: 2rem;
  height: 2rem;
}

.input-hidden{
  display: none;
  }

.crop-label{
  margin-left: 1rem; 
  margin-right: 0.4rem;
  color: currentColor;
  font-size: 10px;
  text-transform: uppercase;
}

.crop-presets{
  color: currentColor;
  font-size: 1rem;
  height: 2rem;
  width: 6rem;
}
.crop-size-input{
  color: currentColor;
  text-align: right;
  margin-right: 1rem;
  font-size: 1rem;
  height: 2rem;
  width: 4rem;
}

.crop-presets:focus,
.crop-size-input:focus{
  color: black;
  border: thin solid currentColor;
  outline: none;
  box-shadow: none;
  background: #EEE;
}

.crop-size-permute{

}

/*////////////////////////*/



.plot{
  position: absolute;
  transform: translate(-50%,-50%);
  color: red;
  font-size: 24px;
  pointer-events: none;
}
.pointers-infos{
  height: 4rem;

}
/* /////////////////////////////////// */



/* /////////////////////////////////// */
.test {color: red;}

.manip-visuel{
  position: absolute;
  left: 0;
  top: 0;
}

.manip-visuel img{
  position: absolute;
}
.monitor{
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: violet;
  padding: 0.5rem;
  color: white;
}

.point-focal{
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  transform: translate(-5px, -5px);
}

.miroir-visuel{
  width: 100%;
  height: 100%;
  /*position: absolute ;*/
  transform-origin: center center ;
  outline: 10px solid red ;
}
